{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://codestar.amazonaws.com/"
        },
        {
            "url": "http://codestar.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS CodeStar</fullname> <p>This is the API reference for AWS CodeStar. This reference provides descriptions of the operations and data types for the AWS CodeStar API along with usage examples.</p> <p>You can use the AWS CodeStar API to work with:</p> <p>Projects and their resources, by calling the following:</p> <ul> <li> <p> <code>DeleteProject</code>, which deletes a project.</p> </li> <li> <p> <code>DescribeProject</code>, which lists the attributes of a project.</p> </li> <li> <p> <code>ListProjects</code>, which lists all projects associated with your AWS account.</p> </li> <li> <p> <code>ListResources</code>, which lists the resources associated with a project.</p> </li> <li> <p> <code>ListTagsForProject</code>, which lists the tags associated with a project.</p> </li> <li> <p> <code>TagProject</code>, which adds tags to a project.</p> </li> <li> <p> <code>UntagProject</code>, which removes tags from a project.</p> </li> <li> <p> <code>UpdateProject</code>, which updates the attributes of a project.</p> </li> </ul> <p>Teams and team members, by calling the following:</p> <ul> <li> <p> <code>AssociateTeamMember</code>, which adds an IAM user to the team for a project.</p> </li> <li> <p> <code>DisassociateTeamMember</code>, which removes an IAM user from the team for a project.</p> </li> <li> <p> <code>ListTeamMembers</code>, which lists all the IAM users in the team for a project, including their roles and attributes.</p> </li> <li> <p> <code>UpdateTeamMember</code>, which updates a team member's attributes in a project.</p> </li> </ul> <p>Users, by calling the following:</p> <ul> <li> <p> <code>CreateUserProfile</code>, which creates a user profile that contains data associated with the user across all projects.</p> </li> <li> <p> <code>DeleteUserProfile</code>, which deletes all user profile information across all projects.</p> </li> <li> <p> <code>DescribeUserProfile</code>, which describes the profile of a user.</p> </li> <li> <p> <code>ListUserProfiles</code>, which lists all user profiles.</p> </li> <li> <p> <code>UpdateUserProfile</code>, which updates the profile for a user.</p> </li> </ul>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS CodeStar",
        "version": "2017-04-19",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codestar-2017-04-19.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "codestar"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/codestar/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds an IAM user to the team for an AWS CodeStar project.",
                "operationId": "AssociateTeamMember",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "clientRequestToken": {
                                            "description": "The user- or system-generated token from the initial request that can be used to repeat the request.",
                                            "maxLength": 256,
                                            "minLength": 1,
                                            "pattern": "^[\\w:/-]+$",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ProjectNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TeamMemberAlreadyAssociatedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidServiceRoleException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ProjectConfigurationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientRequestToken": {
                                        "description": "A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "pattern": "^[\\w:/-]+$",
                                        "type": "string"
                                    },
                                    "projectId": {
                                        "description": "The ID of the project to which you will add the IAM user.",
                                        "maxLength": 15,
                                        "minLength": 2,
                                        "pattern": "^[a-z][a-z0-9-]+$",
                                        "type": "string"
                                    },
                                    "projectRole": {
                                        "description": "The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.",
                                        "pattern": "^(Owner|Viewer|Contributor)$",
                                        "type": "string"
                                    },
                                    "remoteAccessAllowed": {
                                        "description": "Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.",
                                        "type": "boolean"
                                    },
                                    "userArn": {
                                        "description": "The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.",
                                        "maxLength": 95,
                                        "minLength": 32,
                                        "pattern": "^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "projectId",
                                    "userArn",
                                    "projectRole"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateProject": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a project, including project resources. This action creates a project based on a submitted project request. A set of source code files and a toolchain template file can be included with the project request. If these are not provided, an empty project is created.",
                "operationId": "CreateProject",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "arn": {
                                            "description": "The Amazon Resource Name (ARN) of the created project.",
                                            "pattern": "^arn:aws[^:\\s]*:codestar:[^:\\s]+:[0-9]{12}:project\\/[a-z]([a-z0-9|-])+$",
                                            "type": "string"
                                        },
                                        "clientRequestToken": {
                                            "description": "A user- or system-generated token that identifies the entity that requested project creation.",
                                            "maxLength": 256,
                                            "minLength": 1,
                                            "pattern": "^[\\w:/-]+$",
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "The ID of the project.",
                                            "maxLength": 15,
                                            "minLength": 2,
                                            "pattern": "^[a-z][a-z0-9-]+$",
                                            "type": "string"
                                        },
                                        "projectTemplateId": {
                                            "description": "Reserved for future use.",
                                            "minLength": 1,
                                            "pattern": "^arn:aws[^:\\s]{0,5}:codestar:[^:\\s]+::project-template(\\/(github|codecommit))?\\/[a-z0-9-]+$",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "arn"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ProjectAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ProjectCreationFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidServiceRoleException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ProjectConfigurationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientRequestToken": {
                                        "description": "A user- or system-generated token that identifies the entity that requested project creation. This token can be used to repeat the request.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "pattern": "^[\\w:/-]+$",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "The description of the project, if any.",
                                        "format": "password",
                                        "maxLength": 1024,
                                        "pattern": "^$|^\\S(.*\\S)?$",
                                        "type": "string"
                                    },
                                    "id": {
                                        "description": "The ID of the project to be created in AWS CodeStar.",
                                        "maxLength": 15,
                                        "minLength": 2,
                                        "pattern": "^[a-z][a-z0-9-]+$",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The display name for the project to be created in AWS CodeStar.",
                                        "format": "password",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^\\S(.*\\S)?$",
                                        "type": "string"
                                    },
                                    "sourceCode": {
                                        "description": "A list of the Code objects submitted with the project request. If this parameter is specified, the request must also include the toolchain parameter.",
                                        "items": {
                                            "description": "Location and destination information about the source code files provided with the project request. The source code is uploaded to the new project source repository after project creation.",
                                            "properties": {
                                                "destination": {
                                                    "description": "The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the source code files provided with the project request are placed in the repository.",
                                                    "properties": {
                                                        "codeCommit": {
                                                            "description": "Information about the AWS CodeCommit repository to be created in AWS CodeStar. This is where the source code files provided with the project request will be uploaded after project creation.",
                                                            "properties": {
                                                                "name": {
                                                                    "description": "The name of the AWS CodeCommit repository to be created in AWS CodeStar.",
                                                                    "maxLength": 100,
                                                                    "minLength": 1,
                                                                    "pattern": "^\\S[\\w.-]*$",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "name"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "gitHub": {
                                                            "description": "Information about the GitHub repository to be created in AWS CodeStar. This is where the source code files provided with the project request will be uploaded after project creation.",
                                                            "properties": {
                                                                "description": {
                                                                    "description": "Description for the GitHub repository to be created in AWS CodeStar. This description displays in GitHub after the repository is created.",
                                                                    "maxLength": 1000,
                                                                    "minLength": 1,
                                                                    "pattern": "^\\S(.*\\S)?$",
                                                                    "type": "string"
                                                                },
                                                                "issuesEnabled": {
                                                                    "description": "Whether to enable issues for the GitHub repository.",
                                                                    "type": "boolean"
                                                                },
                                                                "name": {
                                                                    "description": "Name of the GitHub repository to be created in AWS CodeStar.",
                                                                    "maxLength": 100,
                                                                    "minLength": 1,
                                                                    "pattern": "^\\S[\\w.-]*$",
                                                                    "type": "string"
                                                                },
                                                                "owner": {
                                                                    "description": "The GitHub username for the owner of the GitHub repository to be created in AWS CodeStar. If this repository should be owned by a GitHub organization, provide its name.",
                                                                    "maxLength": 100,
                                                                    "minLength": 1,
                                                                    "pattern": "^\\S(.*\\S)?$",
                                                                    "type": "string"
                                                                },
                                                                "privateRepository": {
                                                                    "description": "Whether the GitHub repository is to be a private repository.",
                                                                    "type": "boolean"
                                                                },
                                                                "token": {
                                                                    "description": "The GitHub user's personal access token for the GitHub repository.",
                                                                    "format": "password",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "description": "The type of GitHub repository to be created in AWS CodeStar. Valid values are User or Organization.",
                                                                    "pattern": "^(user|organization|User|Organization)$",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "name",
                                                                "type",
                                                                "owner",
                                                                "privateRepository",
                                                                "issuesEnabled",
                                                                "token"
                                                            ],
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "source": {
                                                    "description": "The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.",
                                                    "properties": {
                                                        "s3": {
                                                            "description": "Information about the Amazon S3 location where the source code files provided with the project request are stored. ",
                                                            "properties": {
                                                                "bucketKey": {
                                                                    "description": "The Amazon S3 object key where the source code files provided with the project request are stored.",
                                                                    "type": "string"
                                                                },
                                                                "bucketName": {
                                                                    "description": "The Amazon S3 bucket name where the source code files provided with the project request are stored.",
                                                                    "maxLength": 63,
                                                                    "minLength": 3,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "required": [
                                                        "s3"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "source",
                                                "destination"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "tags": {
                                        "description": "The tags created for the project.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 256,
                                                    "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "toolchain": {
                                        "description": "The name of the toolchain template file submitted with the project request. If this parameter is specified, the request must also include the sourceCode parameter.",
                                        "properties": {
                                            "roleArn": {
                                                "description": "The service role ARN for AWS CodeStar to use for the toolchain template during stack provisioning.",
                                                "maxLength": 1224,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "source": {
                                                "description": "The Amazon S3 location where the toolchain template file provided with the project request is stored. AWS CodeStar retrieves the file during project creation.",
                                                "properties": {
                                                    "s3": {
                                                        "description": "The Amazon S3 bucket where the toolchain template file provided with the project request is stored.",
                                                        "properties": {
                                                            "bucketKey": {
                                                                "description": "The Amazon S3 object key where the source code files provided with the project request are stored.",
                                                                "type": "string"
                                                            },
                                                            "bucketName": {
                                                                "description": "The Amazon S3 bucket name where the source code files provided with the project request are stored.",
                                                                "maxLength": 63,
                                                                "minLength": 3,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "s3"
                                                ],
                                                "type": "object"
                                            },
                                            "stackParameters": {
                                                "description": "The list of parameter overrides to be passed into the toolchain template during stack provisioning, if any.",
                                                "items": {
                                                    "properties": {
                                                        "key": {
                                                            "maxLength": 30,
                                                            "minLength": 1,
                                                            "pattern": "^\\S(.*\\S)?$",
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "format": "password",
                                                            "maxLength": 100,
                                                            "minLength": 1,
                                                            "pattern": "^\\S(.*\\S)?$",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "maxItems": 25,
                                                "type": "array"
                                            }
                                        },
                                        "required": [
                                            "source"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "name",
                                    "id"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateUserProfile": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a profile for a user that includes user preferences, such as the display name and email address assocciated with the user, in AWS CodeStar. The user profile is not project-specific. Information in the user profile is displayed wherever the user's information appears to other users in AWS CodeStar.",
                "operationId": "CreateUserProfile",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "createdTimestamp": {
                                            "description": "The date the user profile was created, in timestamp format.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "description": "The name that is displayed as the friendly name for the user in AWS CodeStar.",
                                            "format": "password",
                                            "maxLength": 64,
                                            "minLength": 1,
                                            "pattern": "^\\S(.*\\S)?$",
                                            "type": "string"
                                        },
                                        "emailAddress": {
                                            "description": "The email address that is displayed as part of the user's profile in AWS CodeStar.",
                                            "format": "password",
                                            "maxLength": 128,
                                            "minLength": 3,
                                            "pattern": "^[\\w-.+]+@[\\w-.+]+$",
                                            "type": "string"
                                        },
                                        "lastModifiedTimestamp": {
                                            "description": "The date the user profile was last modified, in timestamp format.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "sshPublicKey": {
                                            "description": "The SSH public key associated with the user in AWS CodeStar. This is the public portion of the public/private keypair the user can use to access project resources if a project owner allows the user remote access to those resources.",
                                            "maxLength": 16384,
                                            "pattern": "^[\\t\\r\\n\\u0020-\\u00FF]*$",
                                            "type": "string"
                                        },
                                        "userArn": {
                                            "description": "The Amazon Resource Name (ARN) of the user in IAM.",
                                            "maxLength": 95,
                                            "minLength": 32,
                                            "pattern": "^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "userArn"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UserProfileAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "displayName": {
                                        "description": "The name that will be displayed as the friendly name for the user in AWS CodeStar. ",
                                        "format": "password",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "^\\S(.*\\S)?$",
                                        "type": "string"
                                    },
                                    "emailAddress": {
                                        "description": "The email address that will be displayed as part of the user's profile in AWS CodeStar.",
                                        "format": "password",
                                        "maxLength": 128,
                                        "minLength": 3,
                                        "pattern": "^[\\w-.+]+@[\\w-.+]+$",
                                        "type": "string"
                                    },
                                    "sshPublicKey": {
                                        "description": "The SSH public key associated with the user in AWS CodeStar. If a project owner allows the user remote access to project resources, this public key will be used along with the user's private key for SSH access.",
                                        "maxLength": 16384,
                                        "pattern": "^[\\t\\r\\n\\u0020-\\u00FF]*$",
                                        "type": "string"
                                    },
                                    "userArn": {
                                        "description": "The Amazon Resource Name (ARN) of the user in IAM.",
                                        "maxLength": 95,
                                        "minLength": 32,
                                        "pattern": "^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "userArn",
                                    "displayName",
                                    "emailAddress"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteProject": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a project, including project resources. Does not delete users associated with the project, but does delete the IAM roles that allowed access to the project.",
                "operationId": "DeleteProject",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "projectArn": {
                                            "description": "The Amazon Resource Name (ARN) of the deleted project.",
                                            "pattern": "^arn:aws[^:\\s]*:codestar:[^:\\s]+:[0-9]{12}:project\\/[a-z]([a-z0-9|-])+$",
                                            "type": "string"
                                        },
                                        "stackId": {
                                            "description": "The ID of the primary stack in AWS CloudFormation that will be deleted as part of deleting the project and its resources.",
                                            "pattern": "^arn:aws[^:\\s]*:cloudformation:[^:\\s]+:[0-9]{12}:stack\\/[^:\\s]+\\/[^:\\s]+$",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidServiceRoleException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientRequestToken": {
                                        "description": "A user- or system-generated token that identifies the entity that requested project deletion. This token can be used to repeat the request. ",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "pattern": "^[\\w:/-]+$",
                                        "type": "string"
                                    },
                                    "deleteStack": {
                                        "description": "Whether to send a delete request for the primary stack in AWS CloudFormation originally used to generate the project and its resources. This option will delete all AWS resources for the project (except for any buckets in Amazon S3) as well as deleting the project itself. Recommended for most use cases.",
                                        "type": "boolean"
                                    },
                                    "id": {
                                        "description": "The ID of the project to be deleted in AWS CodeStar.",
                                        "maxLength": 15,
                                        "minLength": 2,
                                        "pattern": "^[a-z][a-z0-9-]+$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteUserProfile": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a user profile in AWS CodeStar, including all personal preference data associated with that profile, such as display name and email address. It does not delete the history of that user, for example the history of commits made by that user.",
                "operationId": "DeleteUserProfile",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "userArn": {
                                            "description": "The Amazon Resource Name (ARN) of the user deleted from AWS CodeStar.",
                                            "maxLength": 95,
                                            "minLength": 32,
                                            "pattern": "^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "userArn"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "userArn": {
                                        "description": "The Amazon Resource Name (ARN) of the user to delete from AWS CodeStar.",
                                        "maxLength": 95,
                                        "minLength": 32,
                                        "pattern": "^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "userArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeProject": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describes a project and its resources.",
                "operationId": "DescribeProject",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "arn": {
                                            "description": "The Amazon Resource Name (ARN) for the project.",
                                            "pattern": "^arn:aws[^:\\s]*:codestar:[^:\\s]+:[0-9]{12}:project\\/[a-z]([a-z0-9|-])+$",
                                            "type": "string"
                                        },
                                        "clientRequestToken": {
                                            "description": "A user- or system-generated token that identifies the entity that requested project creation. ",
                                            "maxLength": 256,
                                            "minLength": 1,
                                            "pattern": "^[\\w:/-]+$",
                                            "type": "string"
                                        },
                                        "createdTimeStamp": {
                                            "description": "The date and time the project was created, in timestamp format.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "description": {
                                            "description": "The description of the project, if any.",
                                            "format": "password",
                                            "maxLength": 1024,
                                            "pattern": "^$|^\\S(.*\\S)?$",
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "The ID of the project.",
                                            "maxLength": 15,
                                            "minLength": 2,
                                            "pattern": "^[a-z][a-z0-9-]+$",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The display name for the project.",
                                            "format": "password",
                                            "maxLength": 100,
                                            "minLength": 1,
                                            "pattern": "^\\S(.*\\S)?$",
                                            "type": "string"
                                        },
                                        "projectTemplateId": {
                                            "description": "The ID for the AWS CodeStar project template used to create the project.",
                                            "minLength": 1,
                                            "pattern": "^arn:aws[^:\\s]{0,5}:codestar:[^:\\s]+::project-template(\\/(github|codecommit))?\\/[a-z0-9-]+$",
                                            "type": "string"
                                        },
                                        "stackId": {
                                            "description": "The ID of the primary stack in AWS CloudFormation used to generate resources for the project.",
                                            "pattern": "^arn:aws[^:\\s]*:cloudformation:[^:\\s]+:[0-9]{12}:stack\\/[^:\\s]+\\/[^:\\s]+$",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The project creation or deletion status.",
                                            "properties": {
                                                "reason": {
                                                    "description": "In the case of a project creation or deletion failure, a reason for the failure.",
                                                    "maxLength": 1024,
                                                    "pattern": "^$|^\\S(.*\\S)?$",
                                                    "type": "string"
                                                },
                                                "state": {
                                                    "description": "The phase of completion for a project creation or deletion.",
                                                    "pattern": "^(CreateInProgress|CreateComplete|CreateFailed|DeleteComplete|DeleteFailed|DeleteInProgress|UpdateComplete|UpdateInProgress|UpdateFailed|Unknown)$",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "state"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ProjectNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidServiceRoleException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ProjectConfigurationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "description": "The ID of the project.",
                                        "maxLength": 15,
                                        "minLength": 2,
                                        "pattern": "^[a-z][a-z0-9-]+$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeUserProfile": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describes a user in AWS CodeStar and the user attributes across all projects.",
                "operationId": "DescribeUserProfile",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "createdTimestamp": {
                                            "description": "The date and time when the user profile was created in AWS CodeStar, in timestamp format.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "description": "The display name shown for the user in AWS CodeStar projects. For example, this could be set to both first and last name (\"Mary Major\") or a single name (\"Mary\"). The display name is also used to generate the initial icon associated with the user in AWS CodeStar projects. If spaces are included in the display name, the first character that appears after the space will be used as the second character in the user initial icon. The initial icon displays a maximum of two characters, so a display name with more than one space (for example \"Mary Jane Major\") would generate an initial icon using the first character and the first character after the space (\"MJ\", not \"MM\").",
                                            "format": "password",
                                            "maxLength": 64,
                                            "minLength": 1,
                                            "pattern": "^\\S(.*\\S)?$",
                                            "type": "string"
                                        },
                                        "emailAddress": {
                                            "description": "The email address for the user. Optional.",
                                            "format": "password",
                                            "maxLength": 128,
                                            "minLength": 3,
                                            "pattern": "^[\\w-.+]+@[\\w-.+]+$",
                                            "type": "string"
                                        },
                                        "lastModifiedTimestamp": {
                                            "description": "The date and time when the user profile was last modified, in timestamp format.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "sshPublicKey": {
                                            "description": "The SSH public key associated with the user. This SSH public key is associated with the user profile, and can be used in conjunction with the associated private key for access to project resources, such as Amazon EC2 instances, if a project owner grants remote access to those resources.",
                                            "maxLength": 16384,
                                            "pattern": "^[\\t\\r\\n\\u0020-\\u00FF]*$",
                                            "type": "string"
                                        },
                                        "userArn": {
                                            "description": "The Amazon Resource Name (ARN) of the user.",
                                            "maxLength": 95,
                                            "minLength": 32,
                                            "pattern": "^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "userArn",
                                        "createdTimestamp",
                                        "lastModifiedTimestamp"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UserProfileNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "userArn": {
                                        "description": "The Amazon Resource Name (ARN) of the user.",
                                        "maxLength": 95,
                                        "minLength": 32,
                                        "pattern": "^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "userArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DisassociateTeamMember": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Removes a user from a project. Removing a user from a project also removes the IAM policies from that user that allowed access to the project and its resources. Disassociating a team member does not remove that user's profile from AWS CodeStar. It does not remove the user from IAM.",
                "operationId": "DisassociateTeamMember",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ProjectNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidServiceRoleException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "projectId": {
                                        "description": "The ID of the AWS CodeStar project from which you want to remove a team member.",
                                        "maxLength": 15,
                                        "minLength": 2,
                                        "pattern": "^[a-z][a-z0-9-]+$",
                                        "type": "string"
                                    },
                                    "userArn": {
                                        "description": "The Amazon Resource Name (ARN) of the IAM user or group whom you want to remove from the project.",
                                        "maxLength": 95,
                                        "minLength": 32,
                                        "pattern": "^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "projectId",
                                    "userArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ListProjects": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Lists all projects in AWS CodeStar associated with your AWS account.",
                "operationId": "ListProjects",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextToken": {
                                            "description": "The continuation token to use when requesting the next set of results, if there are more results to be returned.",
                                            "maxLength": 512,
                                            "minLength": 1,
                                            "pattern": "^[\\w/+=]+$",
                                            "type": "string"
                                        },
                                        "projects": {
                                            "description": "A list of projects.",
                                            "items": {
                                                "description": "Information about the metadata for a project.",
                                                "properties": {
                                                    "projectArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the project.",
                                                        "pattern": "^arn:aws[^:\\s]*:codestar:[^:\\s]+:[0-9]{12}:project\\/[a-z]([a-z0-9|-])+$",
                                                        "type": "string"
                                                    },
                                                    "projectId": {
                                                        "description": "The ID of the project.",
                                                        "maxLength": 15,
                                                        "minLength": 2,
                                                        "pattern": "^[a-z][a-z0-9-]+$",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "projects"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "maxResults": {
                                        "description": "The maximum amount of data that can be contained in a single set of results.",
                                        "maximum": 100,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "nextToken": {
                                        "description": "The continuation token to be used to return the next set of results, if the results cannot be returned in one response.",
                                        "maxLength": 512,
                                        "minLength": 1,
                                        "pattern": "^[\\w/+=]+$",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ListResources": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Lists resources associated with a project in AWS CodeStar.",
                "operationId": "ListResources",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextToken": {
                                            "description": "The continuation token to use when requesting the next set of results, if there are more results to be returned.",
                                            "maxLength": 512,
                                            "minLength": 1,
                                            "pattern": "^[\\w/+=]+$",
                                            "type": "string"
                                        },
                                        "resources": {
                                            "description": "An array of resources associated with the project. ",
                                            "items": {
                                                "description": "Information about a resource for a project.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The Amazon Resource Name (ARN) of the resource.",
                                                        "minLength": 11,
                                                        "pattern": "^arn\\:aws\\:\\S.*\\:.*",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ProjectNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ValidationException",
                        "content": {
[...]
